*{
	box-sizing:border-box;
}
body{
	background-color:#98d8c0;
	font-family:Arial;
}
#container{
	width:1320px;
	height:800px;
	background:#eff3f7;
	margin:0 auto;
	font-size:0;
	border-radius:5px;
	overflow:hidden;
}
aside{
	width:330px;
	height:800px;
	background-color:#2c2c42;
	display:inline-block;
	font-size:15px;
	vertical-align:top;
}
main{
	width:660px;
	height:800px;
	display:inline-block;
	font-size:15px;
	vertical-align:top;
}

aside header{
	padding:30px 20px;
}
aside header.user_list{
	width:100%;
	height:50px;
	color : white;
	font-size: 15px;
	padding: 0 0 0 0;
}
aside input{
	width:100%;
	height:50px;
	line-height:50px;
	padding:0 50px 0 20px;
	background-color:#7e818a;
	border:none;
	border-radius:3px;
	color:#fff;
	background-image:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_search.png);
	background-repeat:no-repeat;
	background-position:200px;
	background-size:40px;
}
aside input::placeholder{
	color:#fff;
}
aside ul{
	padding-left:0;
	margin:0;
	list-style-type:none;
	overflow-y:scroll;
	height:690px;
}
aside li{
	padding:10px 0;
}
aside li:hover{
	background-color:#5e616a;
}
h2,h3{
	margin:0;
}
aside li img{
	border-radius:50%;
	margin-left:20px;
	margin-right:8px;
}
aside li div{
	display:inline-block;
	vertical-align:top;
	margin-top:12px;
}
aside li h2{
	font-size:14px;
	color:#fff;
	font-weight:normal;
	margin-bottom:5px;
}
aside li h3{
	font-size:12px;
	color:#7e818a;
	font-weight:normal;
}

.status{
	width:8px;
	height:8px;
	border-radius:50%;
	display:inline-block;
	margin-right:7px;
}
.online{
	background-color:#10c22b;
}
.offline{
	background-color:#a03b2c;
}


main header{
	height:110px;
	padding:30px 20px 30px 40px;
}
main header > *{
	display:inline-block;
	vertical-align:top;
}
main header img:first-child{
	border-radius:50%;
}
main header img:last-child{
	width:24px;
	margin-top:8px;
}
main header div{
	margin-left:10px;
	margin-right:145px;
}
main header h2{
	font-size:16px;
	margin-bottom:5px;
}
main header h3{
	font-size:14px;
	font-weight:normal;
	color:#7e818a;
}
nav.menu{
	height:50px;
	padding-left: 15px;
	padding-right: 15px;
}
.menu ul li.tabMenu{
	list-style: none;
	float: left;
	vertical-align: middle;
	text-align: center;
	line-height: 50px;
	padding-top: 0px;
	padding-bottom: 0px;
	width: 75px;
}
.menu .tab{
	color: wheat;
	display: block;
	text-decoration:none;
	font-weight: bold;
}
.current{
	background-color: #404061;
}
#chat{
	padding-left:0;
	margin:0;
	list-style-type:none;
	overflow-y:scroll;
	height:535px;
	border-top:2px solid #fff;
	border-bottom:2px solid #fff;
}
#chat li{
	padding:10px 30px;
}
#chat h2,#chat h3{
	display:inline-block;
	font-size:13px;
	font-weight:normal;
}
#chat h3{
	color:#bbb;
}
#chat .info{
	margin-bottom:5px;
}
#chat .message{
	padding:20px;
	color:#fff;
	line-height:25px;
	max-width:90%;
	display:inline-block;
	text-align:left;
	border-radius:5px;
}
#chat .message h2{
	padding: 0px;
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	border-right: .15em solid transparent; /* The typwriter cursor */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	letter-spacing: .15em; /* Adjust as needed */
	animation: 
		typing 2s steps(40, end),
		blink-caret 0.5s step-end 20;
}

@keyframes typing {
	from { width: 0 }
	to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
	from{ 
		border-color: transparent;
	}
	50% { border-right: .15em solid black;}
	to { border-right : none;}
  }
#chat .me{
	text-align:right;
}
#chat .you .message{
	background-color:#88ca92;
}
#chat .me .message{
	background-color:#b4b4b4;
}
#chat .triangle{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 10px 10px 10px;
}
#chat .you .triangle{
		border-color: transparent transparent #88ca92 transparent;
		margin-left:15px;
}
#chat .me .triangle{
		border-color: transparent transparent #b4b4b4 transparent;
		margin-left:570px;
}

main footer{
	height:155px;
	padding:20px 30px 10px 20px;
}
main footer textarea{
	resize:none;
	border:none;
	display:block;
	width:100%;
	height:80px;
	border-radius:3px;
	padding:20px;
	font-size:13px;
	margin-bottom:13px;
}
main footer textarea::placeholder{
	color:#ddd;
}
main footer img{
	height:30px;
	cursor:pointer;
}
main footer a{
	text-decoration:none;
	text-transform:uppercase;
	font-weight:bold;
	color:#9ba375;
	vertical-align:top;
	margin-left:500px;
	margin-top:5px;
	display:inline-block;
}
h3{
	padding-top: 30px;
	padding-left:20px;
	color: wheat;
	font-size: 20px;
}

.format{display: none;}