{
  "env": {
    "browser": true /* 웹브라우저에서 실행가능. document 등 글로벌변수 포함 */,
    "es2021": true /* es2021 글로벌변수 포함 */
  },
  "extends": [
    "eslint:recommended" /* eslint 기본 룰 */,
    "react-app" /* CRA 기본 룰 */,
    "react-app/jest" /* CRA 기본 룰(jest) */,
    "airbnb-typescript" /* 에어비앤비 TS 룰  */,
    "plugin:prettier/recommended"
    /* 코드포매팅으로 eslint 와 충돌시 prettier가 우선한다 */
  ],
  "parserOptions": {
    "parser": [
      "@typescript-eslint/parse"
    ] /* 타입스크립트 파서. TS 프로젝트시 파서를 변경해야 함 */,
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12 /* ES2021 */,
    "sourceType": "module",
    "project": [
      "./tsconfig.json"
    ] /* 충돌방지를 위한 tsconfig 경로(prettier 파서랑 충돌하는 경우 있음) */
  },
  "plugins": [
    "prettier"
  ] /* Prettier에서 인식하는 코드 포맷 오류를 ESLint 오류로 출력 */,
  "rules": {
    "react/prop-types": 0,
    "jsx-a11y/label-has-associated-control": "off"
  }
}
