{
    "arrowParens": "always",
    "trailingComma": "es5",
    "tabWidth": 2,
    "semi": true,
    "jsxBracketSameLine": false,
    "jsxSingleQuote": true,
    "singleQuote": true,
    "printWidth": 80,
    "endOfLine": "auto"
  }